.DS_Store
*.DS_Store

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# package directories
node_modules
jspm_packages

# Build results
.build

# Serverless directories
.serverless

# dotenv environment variables file
.env
.env.test

# DynamoDB Local files
.dynamodb/

.idea